<!doctype html>
<html>
<head>
  <title>Sam</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <article>
    <header id="transcript"><i>“Play Tear You Down”</i></header>
    <h2>Player</h2>
    <div id="player"></div>
  </article>
  <footer>
    <hr>
    <a href="http://soundcloud.com/"><img src="img/soundcloud.png"></a>
    <button id="restart-button">Restart speech recognizer</button>
  </footer>
  <script src="//connect.soundcloud.com/sdk.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="js/main.js"></script>
  <script>
    var player = new MusicPlayer('{{soundcloudClientId}}',
                                 '{{soundcloudRedirectUri}}');

    var playerActions = {
      search: {
        callback: function (query) {
          player.search(query, function (tracks) {
            // TODO: render a table of tracks
          });
        },
        minLength: 1,
        interim: false
      },
      play: {
        callback: function (query) {
          var recognizer = this;
          player.search(query, function (tracks) {
            var track = tracks.filter(function (track) {
              return track.streamable;
            })[0];
            player.stream(track, function (sound) {
              var $player = document.getElementById('player');
              recognizer.actions.pause = {
                callback: function () { sound.pause(); },
                minLength: 0,
                interim: true,
                similar: ['paws', 'pos']
              };
              recognizer.actions.resume = {
                callback: function () { sound.resume(); },
                minLength: 0,
                interim: true
              };
              recognizer.actions.stop = {
                callback: function () { sound.stop(); $player.innerHTML = ''; },
                minLength: 0,
                interim: true
              };
              $player.innerHTML = player.renderTrack(track);
              sound.play();
            });
          });
        },
        minLength: 1,
        interim: false
      },
      embed: {
        callback: function (query) {
          player.search(query, function (tracks) {
            player.embed(tracks.filter(function (track) {
              return track.embeddable_by == 'all';
            })[0], document.getElementById('player'));
          });
          // TODO: add actions for pause, resume
        },
        minLength: 1,
        interim: false
      }
    };

    var recognizer = new SpeechRecognizer(playerActions, function (transcript) {
      document.getElementById('transcript').innerHTML = transcript;
    });
    recognizer.start();

    document.getElementById('restart-button').addEventListener('click', function () {
      recognizer.restart();
    });
  </script>
</body>
</html>
